@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    /* Font Families */
    --font-oleo: 'Oleo Script', 'sans-serif';
    --font-montserrat: 'Montserrat', 'sans-serif';
    --font-poppins: 'Poppins', 'sans-serif';
    --font-inter: 'Inter', 'sans-serif';
}


